In [1]:
import pandas as pd

## Lecture Notes

## Combining Tables

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

**Establishes a connection to a SQLite database:**
- The database is located at `'sqlite:///source/sql-exercises/exercises.db'`.

**Executes an SQL query to join two tables** (`products` **and** `departments`):
- The query selects all columns (`SELECT *`).
- It joins the `products` table with the `departments` table based on the `department_id` column.
    
**Fetches and loads the resulting data into a pandas DataFrame.**
- The output DataFrame has **six columns:**
    - `product_id`: Unique identifier for each product.
    - `product_name`: Name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier (repeated due to the join).
    - `department`: The name of the department.
- The DataFrame contains **49,688 rows.**

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    INNER JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Joins the `products` table with the `departments` table using an **INNER JOIN**.
    - Matches rows **where** `products.department_id` **is equal to** `departments.department_id`.
- **Loads the results into a pandas DataFrame**, which contains:
    - `product_id`: The unique ID for each product.
    - `product_name`: The name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier (appears twice due to the join).
    - `department`: The actual department name.
- What is an **INNER JOIN?**
    - An **INNER JOIN** only keeps **rows where there is a match** in both tables.
    - If a product has a `department_id` that doesn’t exist in the `departments` table, it **won’t appear** in the final DataFrame.

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    LEFT JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Joins the `products` table with the `departments` table using a **LEFT JOIN**.
    - Matches rows **where** `products.department_id = departments.department_id`.
- **Loads the results into a pandas DataFrame**, which contains:
    - `product_id`: The unique ID for each product.
    - `product_name`: The name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier (appears twice due to the join).
    - `department`: The actual department name (if available).
- **LEFT JOIN**
    - Keeps **all products**, even if they don’t have a matching department. If no match is found, the `department` column will be **NULL (NaN in pandas).**

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    RIGHT JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Joins the `products` table with the `departments` table using a **RIGHT JOIN**.
    - Matches rows **where** `products.department_id = departments.department_id`.
- **Loads the results into a pandas DataFrame**, which contains:
    - `product_id`: The unique ID for each product.
    - `product_name`: The name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier (appears twice due to the join).
    - `department`: The actual department name.
- **What is a RIGHT JOIN?**
    - A **RIGHT JOIN** keeps **all rows from the `departments` table**, even if there are **no matching products** in the `products` table.
    - If a department **does not have any products**, the `product_id`, `product_name`, and other product-related columns will show **NULL (NaN in pandas)**.
    - This is different from an **INNER JOIN**, which only keeps rows where there is a match in both tables.

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    CROSS JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Attempts to perform a **CROSS JOIN** between `products` and `departments`.
    - Includes an **ON condition** (`ON products.department_id = departments.department_id`), which is **incorrect for a CROSS JOIN.**
- **Loads the results into a pandas DataFrame**, which contains:
    - `product_id`: The unique ID for each product.
    - `product_name`: The name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier (appears twice due to the join).
    - `department`: The actual department name.

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    FULL OUTER JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Uses **FULL OUTER JOIN** to combine **all rows from both** `products` **and** `departments`.
    - Matches rows where `products.department_id = departments.department_id`.
- **Attempts to load the results into a pandas DataFrame.**
- **What is a FULL OUTER JOIN?**
    - **Keeps all rows** from both `products` and `departments`.
    - If a product **has no matching department**, it still appears, but `department` will be **NULL (NaN in pandas)**.
    - If a department **has no matching product**, it still appears, but `product_id`, `product_name`, etc., will be **NULL (NaN in pandas)**.

In [ ]:
pd.read_sql(
    """
    SELECT *
    FROM products
    INNER JOIN departments
    USING (department_id)
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects all columns (`SELECT *`).
    - Performs an **INNER JOIN** between `products` and `departments`.
    - Uses `USING (department_id)` instead of `ON products.department_id = departments.department_id`.
- **Loads the results into a pandas DataFrame**, which contains:
    - `product_id`: The unique ID for each product.
    - `product_name`: The name of the product.
    - `aisle_id`: The aisle where the product is located.
    - `department_id`: The department identifier.
    - `department`: The actual department name.
- **What is the difference between USING and ON?**
    - `ON`: Specifies the exact columns for the join condition. If both tables have a column with the same name, it keeps **both columns separately.**
    - `USING`: Used when both tables share a column with the **same name**. Instead of keeping two separate `department_id` columns, **it merges them into one** in the result.

In [11]:
pd.read_sql(
    """
    SELECT products.department_id, departments.department
    FROM products
    INNER JOIN departments
    ON products.department_id = departments.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

       department_id     department
0                 19         snacks
1                 13         pantry
2                  7      beverages
3                  1         frozen
4                 13         pantry
...              ...            ...
49683              5        alcohol
49684              1         frozen
49685              3         bakery
49686              8           pets
49687             11  personal care

[49688 rows x 2 columns]

- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects `products.department_id` and `departments.department`.
    - Performs an **INNER JOIN** between `products` and `departments`.
    - Joins the tables **on** `department_id`, meaning only products with a matching department are included.
- **Loads the results into a pandas DataFrame**, which contains:
    - `department_id`: The ID representing a department.
    - `department`: The name of the department.

In [13]:
pd.read_sql(
    """
    SELECT p.department_id, d.department
    FROM products p
    INNER JOIN departments d
    ON p.department_id = d.department_id
    """,
    'sqlite:///source/sql-exercises/exercises.db'
)

       department_id     department
0                 19         snacks
1                 13         pantry
2                  7      beverages
3                  1         frozen
4                 13         pantry
...              ...            ...
49683              5        alcohol
49684              1         frozen
49685              3         bakery
49686              8           pets
49687             11  personal care

[49688 rows x 2 columns]

*Basically does the same as the code block above*
- **Connects to a SQLite database** located at `'sqlite:///source/sql-exercises/exercises.db'`.
- **Executes an SQL query** that:
    - Selects `department_id` from the `products` table (`p.department_id`).
    - Selects `department` name from the `departments` table (`d.department`).
    - Uses **INNER JOIN** to combine rows where `p.department_id = d.department_id`.
- **Loads the results into a pandas DataFrame**, which contains:
    - `department_id`: The ID of the department.
    - `department`: The department name.

- Table Aliases (`p` for `products`, `d` for `departments`) are used to make the query more readable.

## SQLAlchemy

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///source/sql-exercises/exercises.db')

- **Imports** `create_engine` from SQLAlchemy.
- **Creates a database engine** using:
    - This tells Python to connect to an SQLite database located at `source/sql-exercises/exercises.db`.
    - The `engine` object allows you to interact with the database using SQL queries.

In [ ]:
pd.read_sql(
    """
    SELECT p.department_id, d.department
    FROM products p
    INNER JOIN departments d
    ON p.department_id = d.department_id
    """,
    engine
)

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///sample.sqlite

Connecting to 'sqlite:///sample.sqlite'

In [22]:
%sqlcmd tables

+-------------+
|     Name    |
+-------------+
| country_ids |
+-------------+

In [23]:
%%sql
SELECT *
FROM country_ids

Running query in 'sqlite:///sample.sqlite'

+----------------+------------+
|    Country     | CustomerID |
+----------------+------------+
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  17850.0   |
| United Kingdom |  13047.0   |
+----------------+------------+
Truncated to displaylimit of 10.

- **Runs an SQL query** inside a Jupyter Notebook using the `%%sql` cell magic.
- **Selects all columns** (`*`) **from the** `country_ids` **table**.
- **Executes the query in an SQLite database** located at `'sqlite:///sample.sqlite'`.
- **Displays the first 10 rows of the result.**

In [24]:
%%sql
SELECT Country, COUNT(*)
FROM country_ids
GROUP BY Country

Running query in 'sqlite:///sample.sqlite'

+----------------+----------+
|    Country     | COUNT(*) |
+----------------+----------+
| United Kingdom |    10    |
+----------------+----------+

- **Runs an SQL query inside a Jupyter Notebook** using the `%%sql` magic command.
- **Counts the number of rows per country** in the country_ids table.
- **Groups the results by the** `Country` **column**.
- **Displays the count of rows for each country**.

In [26]:
%%sql
SELECT CustomerID, COUNT(*)
FROM country_ids
GROUP BY CustomerID

Running query in 'sqlite:///sample.sqlite'

+------------+----------+
| CustomerID | COUNT(*) |
+------------+----------+
|  13047.0   |    1     |
|  17850.0   |    9     |
+------------+----------+

- `SELECT CustomerID, COUNT(*)` → Retrieves the `CustomerID` and counts how many times each appears in the table.
- `FROM country_ids` → Specifies the table from which to retrieve data.
- `GROUP BY CustomerID` → Groups rows by `CustomerID`, ensuring each unique ID gets a separate count.

In [27]:
%%sql
UPDATE country_ids
SET Country = 'Philippines'

Running query in 'sqlite:///sample.sqlite'

10 rows affected.

++
||
++
++

- `UPDATE country_ids` → Targets the country_ids table.
- `SET Country = 'Philippines'` → Replaces all existing values in the `Country` column with `'Philippines'`.
- **No** `WHERE` **clause** → This means **all rows** in the table are affected.
- **"10 rows affected"** → Confirms that 10 rows were updated.

In [28]:
%%sql
SELECT *
FROM country_ids

Running query in 'sqlite:///sample.sqlite'

+-------------+------------+
|   Country   | CustomerID |
+-------------+------------+
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  13047.0   |
+-------------+------------+
Truncated to displaylimit of 10.

In [31]:
%%sql
UPDATE country_ids
SET Country = 'US'
WHERE CustomerID = 13047.0

Running query in 'sqlite:///sample.sqlite'

1 rows affected.

++
||
++
++

In [32]:
%%sql
SELECT *
FROM country_ids

Running query in 'sqlite:///sample.sqlite'

+-------------+------------+
|   Country   | CustomerID |
+-------------+------------+
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
|      US     |  13047.0   |
+-------------+------------+
Truncated to displaylimit of 10.

In [34]:
%%sql
DELETE FROM country_ids
WHERE CustomerID = 13047.0

Running query in 'sqlite:///sample.sqlite'

1 rows affected.

++
||
++
++

In [35]:
%%sql
SELECT *
FROM country_ids

Running query in 'sqlite:///sample.sqlite'

+-------------+------------+
|   Country   | CustomerID |
+-------------+------------+
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
| Philippines |  17850.0   |
+-------------+------------+

In [36]:
%%sql
DELETE FROM country_ids

Running query in 'sqlite:///sample.sqlite'

9 rows affected.

++
||
++
++

In [37]:
%%sql
SELECT *
FROM country_ids

Running query in 'sqlite:///sample.sqlite'

+---------+------------+
| Country | CustomerID |
+---------+------------+
+---------+------------+