## Lecture 6: [1/30]

## Working with Databases

---

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

## Introduction

**What is a Database?**
* In simple terms, a database is an organized collection of structured information.
* It's like an electronic filing cabinet where you can store and manage data.
* Databases typically use a specific structure to organize information, making it easy to search for, retrieve, and update data.

**Types of Databases**:
* **Relational Databases**: These are the most common type, organizing data into tables with rows and columns. Each row represents a record, and each column represents a field. SQLite is a type of relational database.
* **NoSQL Databases**: These databases don't use the traditional table structure. They are more flexible and can handle different types of data, such as unstructured text or images.

**What is SQLite?**
* SQLite is a lightweight and open-source relational database management system.
* It's known for its simplicity and ease of use.
* SQLite databases are stored as single files, making them portable and easy to deploy.
* It's commonly used in mobile devices, embedded systems, and as a backend for small applications.

**Key Features of SQLite**:
* **Lightweight**: Small footprint and easy to embed in other applications.
* **Cross-platform**: Works on various operating systems (Windows, macOS, Linux, etc.).
* **Self-contained**: Stores the entire database in a single file.
* **Transactions**: Supports ACID properties (Atomicity, Consistency, Isolation, Durability) for reliable data management.

**Summary**:
* SQLite is a lightweight and versatile database management system that's well-suited for various applications. It provides a simple and efficient way to store and manage data in a structured manner.

## Importing SQlite3

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`import sqlite3`
* This line imports the `sqlite3` module, which is the standard library in Python for working with SQLite databases.

`conn = sqlite3.connect(':memory:')`
* This line creates a new in-memory SQLite database connection.
* `sqlite3.connect(':memory:')` creates a database that exists only in memory and will be discarded when the connection is closed. This is useful for temporary databases.

`conn = sqlite3.connect('sample.sqlite')`
* This line creates a new SQLite database connection to a file named `sample.sqlite`.
* If the file doesn't exist, it will be created. If it exists, the connection will open the existing database.

`conn.close()`
* This line closes the database connection. It's important to close connections when you're finished with them to free up resources.

**Summary**
* These code cells demonstrate the basic steps for creating and closing SQLite database connections in Python. You can use these connections to interact with the database, such as creating tables, inserting data, and querying data.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')

In [3]:
conn = sqlite3.connect('sample.sqlite')

In [4]:
conn.close()

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`with sqlite3.connect('sample.sqlite') as conn`:
* This line uses the `with` statement to create a connection to a SQLite database file named 'sample.sqlite'.
* `sqlite3.connect('sample.sqlite')` establishes the connection to the database file.
* `as conn:` assigns the connection object to the variable conn for use within the `with` block.
* The `with` statement ensures that the connection to the database is properly closed even if an error occurs within the block.
* `pass`
* This line is a placeholder and does nothing. It's often used when you need a block of code but don't have any specific instructions to execute within that block.

`conn = sqlite3.connect(':memory:')`
* This line creates a new in-memory SQLite database connection.
* `sqlite3.connect(':memory:')` creates a database that exists only in memory and will be discarded when the connection is closed. This is useful for temporary databases.

`cursor = conn.cursor()`
* This line creates a cursor object.
* The cursor is an object that allows you to execute SQL commands (like creating tables, inserting data, etc.) against the database.

`cursor.execute(''' CREATE TABLE mytable ( col1 TEXT, col2 INTEGER, col3 REAL, col4 TEXT ); ''')`
* This line executes an SQL command using the cursor object.
The SQL command creates a new table named mytable with four columns:
    * `col1`: Stores text data.
    * `col2`: Stores integer values.
    * `col3`: Stores real (floating-point) numbers.
    * `col4`: Stores text data.

* **Connecting to a database**: Establishing a connection to a database file or creating an in-memory database.
* **Creating a cursor**: Obtaining a cursor object to interact with the database.
* **Executing SQL commands**: Using the cursor to execute SQL commands, such as creating tables.

In [5]:
with sqlite3.connect('sample.sqlite') as conn:
    pass

In [6]:
conn = sqlite3.connect(':memory:')

In [7]:
cursor = conn.cursor()

In [8]:
cursor.execute("""
CREATE TABLE mytable (
    col1 TEXT,
    col2 INTEGER,
    col3 REAL,
    col4 TEXT
);
""")

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`result = conn.execute('''PRAGMA table_info('mytable')''')`
* This line executes an SQL command using the cursor object.
* `PRAGMA table_info('mytable')` is an SQLite command that retrieves information about the columns of a specific table. In this case, it retrieves information about the mytable table that was created in the previous cell.
* for row in result:
* This line starts a for loop that iterates over each row of data returned by the execute() method.

`print(row)`
* This line prints each row of data to the console. Each `row` will contain information about a single column in the `mytable`, including its name, data type, and other metadata.

    
`result = conn.execute('''PRAGMA table_info('mytable')''')`
* This line is the same as in Cell 14, executing the `PRAGMA table_info` command to get information about the `mytable` table.
* `result.fetchall()`
    * This line retrieves all the rows of data returned by the `execute()` method and stores them in the `result` variable.
    * The output below the code shows the actual data retrieved by `fetchall()`. It's a list of tuples, where each tuple represents a row of information about a column in the `mytable`.

**Summary**
* These code cells demonstrate how to use the PRAGMA table_info command to get information about the columns of a table in an SQLite database. Cell 14 prints each row of information individually, while Cell 15 retrieves all rows and stores them in a list.

In [14]:
result = conn.execute(
    """
    PRAGMA table_info('mytable')
    """
)
for row in result:
    print(row)

(0, 'col1', 'TEXT', 0, None, 0)
(1, 'col2', 'INTEGER', 0, None, 0)
(2, 'col3', 'REAL', 0, None, 0)
(3, 'col4', 'TEXT', 0, None, 0)

In [12]:
result = conn.execute(
    """
    PRAGMA table_info('mytable')
    """
)

result.fetchall()

[(0, 'col1', 'TEXT', 0, None, 0),
 (1, 'col2', 'INTEGER', 0, None, 0),
 (2, 'col3', 'REAL', 0, None, 0),
 (3, 'col4', 'TEXT', 0, None, 0)]

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`result = conn.execute('''PRAGMA table_info('mytable')''')`
* This line executes an SQL command using the cursor object.
* PRAGMA table_info('mytable') is an SQLite command that retrieves information about the columns of a specific table. In this case, it retrieves information about the `mytable` table that was created in the previous cell.

`cursor.execute(''' CREATE TABLE mytable ( col1 TEXT, col2 INTEGER, col3 REAL, col4 TEXT ); ''')`
* This line attempts to execute an SQL command using the cursor object.
* The SQL command tries to create a new table named mytable with four columns:
    * col1: Stores text data.
    * col2: Stores integer values.
    * col3: Stores real (floating-point) numbers.
    * col4: Stores text data.

However, the code results in an `OperationalError` because the table `mytable` already exists. This error indicates that a table with the same name has already been created in the database.

In [13]:
result = conn.execute(
    """
    PRAGMA table_info('mytable')
    """
)

In [14]:
cursor.execute("""
CREATE TABLE mytable (
    col1 TEXT,
    col2 INTEGER,
    col3 REAL,
    col4 TEXT
);
""")

OperationalError: table mytable already exists

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`cursor.execute(''' CREATE TABLE IF NOT EXISTS mytable ( col1 TEXT, col2 INTEGER, col3 REAL, col4 TEXT ); ''')`
* This line uses the `cursor.execute()` method to execute an SQL command.
* CREATE TABLE IF NOT EXISTS `mytable`: 
* This part of the command checks if a table named "mytable" already exists in the database. If it does not exist, it creates a new table with the given name. If it already exists, the command does nothing.
The rest of the command defines the table structure with four columns:
    * col1: Stores text data.
    * col2: Stores integer values.
    * col3: Stores real (floating-point) numbers.
col4: Stores text data.
* `fetchall()` is used after `execute()` to retrieve any results returned by the command. Since `CREATE TABLE` doesn't return any data, `fetchall()` will return an empty list `[]`.

`result = conn.execute('''PRAGMA table_info('mytable')''')`
* This line executes an SQL command using the `conn.execute()` method.
* `PRAGMA table_info('mytable')` is an SQLite command that retrieves information about the columns of a specific table. In this case, it retrieves information about the mytable table that was created or checked in the previous cell.

`result.fetchall()`
* This line retrieves all the rows of data returned by the execute() method and stores them in the `result` variable.
* The output below the code shows the result of result.fetchall(). It's a list of tuples, where each tuple represents a row of information about a column in the `mytable`. Each tuple contains the following information for each column:
* Index of the column (0, 1, 2, 3)
* Name of the column ('col1', 'col2', 'col3', 'col4')
* Data type of the column ('TEXT', 'INTEGER', 'REAL', 'TEXT')
* Other metadata (all None in this case)

In [15]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS mytable (
    col1 TEXT,
    col2 INTEGER,
    col3 REAL,
    col4 TEXT
);
""").fetchall()

[]

In [16]:
result = conn.execute(
    """
    PRAGMA table_info('mytable')
    """
)
result.fetchall()

[(0, 'col1', 'TEXT', 0, None, 0),
 (1, 'col2', 'INTEGER', 0, None, 0),
 (2, 'col3', 'REAL', 0, None, 0),
 (3, 'col4', 'TEXT', 0, None, 0)]

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`cursor.execute(''' CREATE TABLE IF NOT EXISTS mytable2 ( col1 TEXT NOT NULL, col2 INTEGER NOT NULL UNIQUE, col3 REAL, col4 TEXT UNIQUE ); ''')`
* This line uses the `cursor.execute()` method to execute an SQL command.
* `CREATE TABLE IF NOT EXISTS mytable2`: This part of the command checks if a table named "mytable2" already exists in the database. If it does not exist, it creates a new table with the given name. If it already exists, the command does nothing.
* The rest of the command defines the table structure with four columns:
    * `col1 TEXT NOT NULL`: A text column that cannot be empty (must have a value).
    * `col2 INTEGER NOT NULL UNIQUE`: An integer column that cannot be empty and must have a unique value for each row.
    * `col3 REAL`: A column to store real numbers.
    * `col4 TEXT UNIQUE`: A text column that must have a unique value for each row.


`cursor.execute('''PRAGMA table_info('mytable2')''')`
* This line executes an SQL command using the `cursor.execute()` method.
* `PRAGMA table_info('mytable2')` is an SQLite command that retrieves information about the columns of a specific table. In this case, it retrieves information about the `mytable2` table that was created or checked in the previous cell.
`fetchall()`
* This line retrieves all the rows of data returned by the execute() method and stores them in the result variable.
* The output below the code shows the result of `result.fetchall()`. It's a list of tuples, where each tuple represents a row of information about a column in the `mytable2`. Each tuple contains the following information for each column:
* Index of the column (0, 1, 2, 3)
    * Name of the column ('col1', 'col2', 'col3', 'col4')
    * Data type of the column ('TEXT', 'INTEGER', 'REAL', 'TEXT')
    * Whether the column is NOT NULL (1 for yes, 0 for no)
    * Whether the column is UNIQUE (1 for yes, 0 for no)
    * Other metadata (all None in this case)

cursor.execute("""
CREATE TABLE IF NOT EXISTS mytable2 (
    col1 TEXT NOT NULL,
    col2 INTEGER NOT NULL UNIQUE,
    col3 REAL,
    col4 TEXT UNIQUE
);
""")

In [17]:
cursor.execute("""
PRAGMA table_info('mytable2')
""").fetchall()

[]

<div style="border: 2px solid black; padding: 10px; border-radius: 5px;"> 

`cursor.executescript('''...''')`
*  This line uses the cursor.executescript() method to execute a block of SQL commands.
* `executescript()` allows you to execute multiple SQL statements at once
* The first `CREATE TABLE IF NOT EXISTS mytable2 statement attempts to create a table named "mytable2"` if it doesn't already exist.
The table definition includes four columns:
    * `col1`: A text column that cannot be empty (NOT NULL).
    * `col2`: A text column.
    * `col3`: An integer column with a unique constraint (no two rows can have the same value in this column).
col4: A real number column that cannot be empty and must have a unique value for each row.
* The second `CREATE TABLE IF NOT EXISTS mytable2` statement is identical to the first.
* Since the table "mytable2" is already being created by the first statement, the second statement will likely result in an error (as it's trying to create the same table again).

* `<sqlite3.Cursor at 0x76585035e240>`
* This output simply indicates that the `cursor.executescript()` method was successfully executed and returned the cursor object itself.

In [18]:
cursor.executescript(
    """
    CREATE TABLE IF NOT EXISTS mytable2 (
        col1 TEXT NOT NULL,
        col2 TEXT,
        col3 INTEGER UNIQUE,
        col4 REAL NOT NULL UNIQUE
    );
    
    CREATE TABLE IF NOT EXISTS mytable2 (
        col1 TEXT NOT NULL,
        col2 TEXT,
        col3 INTEGER UNIQUE,
        col4 REAL NOT NULL UNIQUE
    );
    """
)