In [1]:
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'last' : ['Schafer', 'Doe', 'Doe'],
    'email' : ['Corey@gmail.com', 'Jane@gmail.com', 'John@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   John@gmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

If we would like to rename all of the columns, then we can use an assignment

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [8]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [9]:
df

  first_name last_name            email
0      Corey   Schafer  Corey@gmail.com
1       Jane       Doe   Jane@gmail.com
2       John       Doe   John@gmail.com

In [10]:
# We can use a list comprehension to uppercase all of the column names.
df.columns = [x.upper() for x in df.columns]

In [11]:
df

  FIRST_NAME LAST_NAME            EMAIL
0      Corey   Schafer  Corey@gmail.com
1       Jane       Doe   Jane@gmail.com
2       John       Doe   John@gmail.com

In [17]:
# If instead, you would like to replace the spaces into underscores, you can also use list comprehensions
df.columns = df.columns.str.replace('_', ' ')
df

df.columns = df.columns.str.replace(' ', '_')
df

df.columns = [x.lower() for x in df.columns]
df

  first_name last_name            email
0      Corey   Schafer  Corey@gmail.com
1       Jane       Doe   Jane@gmail.com
2       John       Doe   John@gmail.com

In [20]:
# We can use the rename method thru a dictionary to rename specific columns. However, this is not permanent. 
# As such, use inplace = True to make it permanent.

df.rename(columns = {'first_name' : 'first', 'last_name' : 'last'}, inplace = True)
df

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   John@gmail.com