In [1]:
import pandas as pd

In [6]:
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'last' : ['Schafer', 'Doe', 'Doe'],
    'email' : ['Corey@gmail.com', 'Jane@gmail.com', 'John@gmail.com']
}

In [7]:
import pandas as pd

In [17]:
df = pd.DataFrame(people)
df

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   John@gmail.com

In [12]:
# This is the preferred format since it is possible that a name of the column has the same name of an attribute or method.
df['email']

0    Corey@gmail.com
1     Jane@gmail.com
2     John@gmail.com
Name: email, dtype: object

In [13]:
# This is another way to rewrite the code above. This is called the dot notation. 
df.email

0    Corey@gmail.com
1     Jane@gmail.com
2     John@gmail.com
Name: email, dtype: object

In [15]:
type(df['email'])

pandas.core.series.Series

```df['email']``` is a Series object, which is just a list of data but has a lot more functionality. Formally, Series is a one dimensional array, which are the rows of a single column. We then define a DataFrame as a collection of series.

The Series still has an index. Moreover, we can also access more specific information within the series.

The functionality of the DataFrames can be seen through accessing multiple columns.
```df[[col_1, col_2, ..., col_n]]``` The output is no longer a series but rather another FILTERED DOWN dataframe because it is not one dimensional anymore.

In [20]:
df[['last', 'email']]

      last            email
0  Schafer  Corey@gmail.com
1      Doe   Jane@gmail.com
2      Doe   John@gmail.com

In [22]:
# It gives us all of the columns.
df.columns

Index(['first', 'last', 'email'], dtype='object')

To get rows, we either us ```loc``` or ```iloc```. 

```iloc``` allows us to access rows by integer location. If we would like to get the first (so the 0$^{\text{th}}$) row, we write
```df.iloc[0]```.

Whenever we are accessing a row, the indices now become the column nows.

If you would to select multiple rows like both 0th and 1st row, we write ```df.iloc[[0, 1]]```. We can also specify the columns that we want. However, since ```iloc``` is specifically for integers, we can't use names but rather the number corresponding to the column. For example, the 2nd column (remember we start counting from zero) is the *email* column. Thus, we write ```df.iloc[[0,1], 2]``` to get the data from the first and second row and specifically on the *email* column

In [23]:
df.iloc[0]

first              Corey
last             Schafer
email    Corey@gmail.com
Name: 0, dtype: object

In [24]:
df.iloc[[0, 1]]

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com

In [26]:
df.iloc[[0, 1], 2]

0    Corey@gmail.com
1     Jane@gmail.com
Name: email, dtype: object

Let us now look at ```loc``` which uses the names.

In [27]:
df

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   John@gmail.com

In [28]:
df.loc[0]

first              Corey
last             Schafer
email    Corey@gmail.com
Name: 0, dtype: object

In [29]:
df.loc[[0, 1]]

   first     last            email
0  Corey  Schafer  Corey@gmail.com
1   Jane      Doe   Jane@gmail.com

In [32]:
# Now that we are using loc, we can just pass in the value of email
# Notice also that the email came first then the last name. The ORDER of the list is important.
df.loc[[0, 1], ['email', 'last']]

             email     last
0  Corey@gmail.com  Schafer
1   Jane@gmail.com      Doe

Let us now go back to the Survey results.

In [34]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [36]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [40]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [42]:
df['Hobbyist'].head()

0    Yes
1     No
2    Yes
3     No
4    Yes
Name: Hobbyist, dtype: object

In [43]:
# Let us now try to figure out how many counted yes and no
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [49]:
round(71257/(71257 + 17626), 3)

0.802

In [51]:
# All of the responses from ONE respondent
df.loc[0]

Respondent                                                                1
MainBranch                           I am a student who is learning to code
Hobbyist                                                                Yes
OpenSourcer                                                           Never
OpenSource                The quality of OSS and closed source software ...
Employment                           Not employed, and not looking for work
Country                                                      United Kingdom
Student                                                                  No
EdLevel                                           Primary/elementary school
UndergradMajor                                                          NaN
EduOther                  Taught yourself a new language, framework, or ...
OrgSize                                                                 NaN
DevType                                                                 NaN
YearsCode                                                                 4
Age1stCode                                                               10
YearsCodePro                                                            NaN
CareerSat                                                               NaN
JobSat                                                                  NaN
MgrIdiot                                                                NaN
MgrMoney                                                                NaN
MgrWant                                                                 NaN
JobSeek                                                                 NaN
LastHireDate                                                            NaN
LastInt                                                                 NaN
FizzBuzz                                                                NaN
JobFactors                                                              NaN
ResumeUpdate                                                            NaN
CurrencySymbol                                                          NaN
CurrencyDesc                                                            NaN
CompTotal                                                               NaN
CompFreq                                                                NaN
ConvertedComp                                                           NaN
WorkWeekHrs                                                             NaN
WorkPlan                                                                NaN
WorkChallenge                                                           NaN
WorkRemote                                                              NaN
WorkLoc                                                                 NaN
ImpSyn                                                                  NaN
CodeRev                                                                 NaN
CodeRevHrs                                                              NaN
UnitTests                                                               NaN
PurchaseHow                                                             NaN
PurchaseWhat                                                            NaN
LanguageWorkedWith                          HTML/CSS;Java;JavaScript;Python
LanguageDesireNextYear      C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL
DatabaseWorkedWith                                                   SQLite
DatabaseDesireNextYear                                                MySQL
PlatformWorkedWith                                            MacOS;Windows
PlatformDesireNextYear                              Android;Arduino;Windows
WebFrameWorkedWith                                             Django;Flask
WebFrameDesireNextYear                                         Flask;jQuery
MiscTechWorkedWith                                                  Node.js
MiscTechDesireNextYear                                              Node.js
DevEnviron                                       IntelliJ;Notepad++;PyCharm
OpSys                                                               Windows
Containers                                          I do not use containers
BlockchainOrg                                                           NaN
BlockchainIs                                                            NaN
BetterLife                                                              Yes
ITperson                           Fortunately, someone else has that title
OffOn                                                                   Yes
SocialMedia                                                         Twitter
Extraversion                                                         Online
ScreenName                                                         Username
SOVisit1st                                                             2017
SOVisitFreq                                 A few times per month or weekly
SOVisitTo                 Find answers to specific questions;Learn how t...
SOFindAnswer                                             3-5 times per week
SOTimeSaved                                  Stack Overflow was much faster
SOHowMuchTime                                                 31-60 minutes
SOAccount                                                                No
SOPartFreq                                                              NaN
SOJobs                    No, I didn't know that Stack Overflow had a jo...
EntTeams                                No, and I don't know what those are
SOComm                                                              Neutral
WelcomeChange                       Just as welcome now as I felt last year
SONewContent              Tech articles written by other developers;Indu...
Age                                                                    14.0
Gender                                                                  Man
Trans                                                                    No
Sexuality                                           Straight / Heterosexual
Ethnicity                                                               NaN
Dependents                                                               No
SurveyLength                                          Appropriate in length
SurveyEase                                       Neither easy nor difficult
Name: 0, dtype: object

In [61]:
# We can also use slicing. The last value is inclusive. Also, no need to wrap in brackets. This also works for columns.
df.loc[0 : 20, 'Hobbyist':'UndergradMajor']

0     Yes
1      No
2     Yes
3      No
4     Yes
5     Yes
6      No
7     Yes
8     Yes
9     Yes
10    Yes
11     No
12    Yes
13    Yes
14    Yes
15    Yes
16    Yes
17    Yes
18    Yes
19     No
20    Yes
Name: Hobbyist, dtype: object